<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136420870550-m3tugh2bkss4oltfi41imv3e34sl58i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136420870550-m3tugh2bkss4oltfi41imv3e34sl58i5</string>
	<key>API_KEY</key>
	<string>AIzaSyAmaPeNL8j07sUrDrnaU8EuOw5sDT5st8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>136420870550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JackStenglein.Clinton-or-Trump1</string>
	<key>PROJECT_ID</key>
	<string>clinton-or-trump-bf499</string>
	<key>STORAGE_BUCKET</key>
	<string>clinton-or-trump-bf499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:136420870550:ios:e4fbe0158176321b</string>
	<key>DATABASE_URL</key>
	<string>https://clinton-or-trump-bf499.firebaseio.com</string>
</dict>
</plist>