<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&quot;I know people making a tremendous amount of money and paying virtually no taxes, and I think it’s unfair.&quot;</key>
	<string>—Trump, Sept. 2015</string>
	<key>&quot;If you make $200 million a year, you pay 10 percent – you’re paying very little relative to somebody that’s making $50,000 a year.&quot;</key>
	<string>—Trump, Sept. 2015</string>
	<key>“I really believe Republicans are just too crazy. … I mean, hey, I lived in New York City, Manhattan all my life, OK? So my views are a little bit different than if I lived in Iowa, perhaps.”</key>
	<string>—Trump, Oct. 1999</string>
	<key>“I’m very impressed by [then-House Speaker Nancy Pelosi]; she’s a very impressive person. She was going to really look to impeach Bush, which, personally, I think would have been a wonderful thing.”</key>
	<string>—Trump, Sept. 2007</string>
	<key>“I thought [Obama] did a terrific job [with the economic stimulus]. I thought he was strong and smart, and it looks like we have somebody that knows what he is doing finally in office, and he did inherit a tremendous problem.”</key>
	<string>—Trump, Feb. 2009</string>
	<key>“It just seems that the economy does better under the Democrats than the Republicans. … We’ve had some pretty bad disasters under the Republicans.”</key>
	<string>—Trump, March 2004</string>
	<key>“For people that have been here for years, that have been hard workers, have good jobs, are supporting a family, it’s very tough to just say, ‘You have to leave, get out.’ You just can’t throw everybody out.”</key>
	<string>—Trump, June 2012</string>
	<key>“People love me. And you know what, I’ve been very successful. Everybody loves me.”</key>
	<string>—Trump, July 2015</string>
	<key>“The point is that you can&apos;t be too greedy.”</key>
	<string>—Trump, The Art of the Deal</string>
	<key>“I don&apos;t like losers.”</key>
	<string>—Trump, July 2015</string>
	<key>&quot;[John McCain]’s not a war hero. He&apos;s a war hero because he was captured. I like people that weren&apos;t captured.&quot;</key>
	<string>—Trump, July 2015</string>
	<key>“You know the funny thing, I don&apos;t get along with rich people. I get along with the middle class and the poor people better than I get along with the rich people.”</key>
	<string>—Trump, March 2011</string>
	<key>“I don’t care whether or not a person is gay. I judge people based on their capability, honesty and merit.”</key>
	<string>—Trump, Feb. 2000</string>
	<key>“If you get good ratings, they&apos;ll cover you even if you have nothing to say.”</key>
	<string>—Trump, Feb. 2016</string>
	<key>“I don’t like to analyze myself because I might not like what I see.”</key>
	<string>—Trump, Sept. 2015</string>
	<key>“I like the idea of amending the 1964 Civil Rights Act to include a ban of discrimination based on sexual orientation. It would be simple. It would be straightforward.”</key>
	<string>—Trump, Feb. 2000</string>
	<key>“We can&apos;t let people down when they can&apos;t get any medical care, when they&apos;re sick and don&apos;t have money to go to a doctor. You help them.”</key>
	<string>—Trump, July 2015</string>
	<key>“As far as single payer [health care], it works in Canada. It works incredibly well in Scotland.”</key>
	<string>—Trump, April 2015</string>
	<key>“I will absolutely apologize some time in the hopefully distant future if I’m ever wrong.”</key>
	<string>—Trump, Sept. 2015</string>
	<key>“You&apos;ve seen my statements; I do very well. I don&apos;t mind paying some taxes. The middle class is getting clobbered in this country. I know people in hedge funds that pay almost nothing, and it&apos;s ridiculous.”</key>
	<string>—Trump, Aug. 2015</string>
	<key>“I&apos;ve always said, &apos;If you need Viagra, you&apos;re probably with the wrong girl.&apos;”</key>
	<string>—Trump, Oct. 2004</string>
	<key>“In July of 2004, I came out strongly against the war with Iraq because it was going to destabilize the Middle East.”</key>
	<string>—Trump, Aug. 2015</string>
	<key>“As your president, I will do everything in my power to protect our LGBTQ citizens from the violence and oppression of a hateful foreign ideology.”</key>
	<string>—Trump, July 2016</string>
	<key>“I&apos;ve created thousands and thousands of jobs.”</key>
	<string>—Trump, July 2016</string>
	<key>“The most basic duty of government is to defend the lives of its own citizens. Any government that fails to do so is a government unworthy to lead.”</key>
	<string>—Trump, July 2016</string>
	<key>“We will be a country of generosity and warmth. But we will also be a country of law and order.”</key>
	<string>—Trump, July 2016</string>
	<key>“We should have never been in Iraq. We have destabilized the Middle East.”</key>
	<string>—Trump, Feb. 2016</string>
	<key>“Our people are our greatest asset. We must take care of our own. We must have universal healthcare.”</key>
	<string>—Trump, The America We Deserve</string>
	<key>&quot;I want to see the abortion issue removed from politics. I believe it is a personal decision that should be left to the women and their doctors.&quot;</key>
	<string>—Trump, The America We Deserve</string>
	<key>“The Republicans walk the NRA line and refuse even limited restrictions. ... I support the ban on assault weapons, and I also support a slightly longer waiting period to purchase a gun.”</key>
	<string>—Trump, The America We Deserve</string>
	<key>&quot;Pat Buchanan has said too many inflammatory, outrageous and controversial things to ever be elected president.&quot;</key>
	<string>—Trump, The America We Deserve</string>
	<key>&quot;The media is really on a witch-hunt against me. False reporting, and plenty of it, but we will prevail!”</key>
	<string>—Trump, May 2016</string>
	<key>&quot;These student loans are probably one of the only things that the government shouldn’t make money from and yet it does.&quot;</key>
	<string>—Trump, Crippled America</string>
	<key>&quot;Wages in our country are too low, good jobs are too few and people have lost faith in our leaders. We need smart and strong leadership now!&quot;</key>
	<string>—Trump, Dec. 2015</string>
	<key>“There’s no way a Republican is going to beat a Democrat when the Republican is saying, &apos;We’re going to cut your Social Security’ and the Democrat is saying, ‘We’re going to keep it and give you more.&apos;&quot;</key>
	<string>—Trump, May 2016</string>
	<key>&quot;Give [immigrants] a path. You have to make it possible for them to succeed.&quot;</key>
	<string>—Trump, June 2015</string>
	<key>&quot;Some will say that my plan is unfair to the extremely wealthy. I say it is only reasonable to shift the burden to those most able to pay.&quot;</key>
	<string>—Trump, The America We Deserve</string>
	<key>&quot;What do I know about it? All I know is what&apos;s on the Internet.&quot;</key>
	<string>—Trump, March 2016</string>
	<key>&quot;We won with poorly educated. I love the poorly educated.&quot;</key>
	<string>—Trump, Feb. 2016</string>
	<key>“I don’t think I’ve made mistakes. Every time somebody said I made a mistake, they do the polls and my numbers go up, so I guess I haven&apos;t made any mistakes.&quot;</key>
	<string>—Trump, Aug. 2015</string>
	<key>&quot;Free trade is terrible. Free trade can be wonderful if you have smart people. But we have stupid people.&quot;</key>
	<string>—Trump, June 2015</string>
	<key>&quot;I have a great relationship with the blacks. I&apos;ve always had a great relationship with the blacks.&quot; </key>
	<string>—Trump, April 2011</string>
	<key>“Well, somebody’s doing the raping, Don. I mean, somebody’s doing it. Who’s doing the raping? Who’s doing the raping?”</key>
	<string>—Trump, July 2015</string>
	<key>“I will work to ensure that all of our kids are treated equally and protected equally. Every action I take, I will ask myself: Does this make life better for young Americans in Baltimore, Chicago, Detroit and Ferguson?”</key>
	<string>—Trump, July 2016</string>
	<key>“Now that we’ve said these people are no longer deadbeats—they’re actually out there being productive—how do we keep them there?”</key>
	<string>—Clinton, April 2002</string>
	<key>“I’ve advocated tying the welfare payment to certain behavior about being a good parent. [For example], you couldn’t get your welfare check if your child wasn’t immunized.”</key>
	<string>—Clinton, Feb. 1997</string>
	<key>“I want the Iranians to know that if I’m the president, we will attack Iran. … In the next 10 years, during which they might foolishly consider launching an attack on Israel, we would be able to totally obliterate them.”</key>
	<string>—Clinton, April 2008</string>
	<key>“Every nation has to either be with us or against us. Those who harbor terrorists, or who finance them, are going to pay a price.”</key>
	<string>—Clinton, Sept. 2001</string>
	<key>“I’m supporting an effort to increase the end strength of the Army, increase the size of the military. … It is expensive, but I don’t think we have any alternatives.”</key>
	<string>—Clinton, May 2004</string>
	<key>“I am, you know, adamantly against illegal immigrants. … People have to stop employing illegal immigrants.”</key>
	<string>—Clinton, Feb. 2003</string>
	<key>“We need more police. We need more and tougher prison sentences for repeat offenders. We need more prisons to keep violent offenders for as long as it takes to keep them off the streets.”</key>
	<string>—Clinton, Aug. 1994</string>
	<key>&quot;Disturbing material like that found in Grand Theft Auto or other games is stealing the innocence of our children.&quot;</key>
	<string>—Clinton, July 2005</string>
	<key>&quot;I think a marriage is as a marriage has always been: between a man and a woman.&quot;</key>
	<string>—Clinton, Jan. 2000</string>
	<key>“Gay rights are human rights, and human rights are gay rights. No matter what we look like, where we come from or who we are, we are all equally entitled to our human rights and dignity.&quot;</key>
	<string>—Clinton, Dec. 2011</string>
	<key>&quot;I have a million ideas. ... The country can&apos;t afford them all.&quot;</key>
	<string>—Clinton, Oct. 2007</string>
	<key>&quot;This is a time for America to lead, not to cower. And we will lead, and we will defeat terrorists that threaten our friends and allies.&quot;</key>
	<string>—Clinton, March 2016</string>
	<key>&quot;I’ve been called many things by many people. &apos;Quitter&apos; is not one of them.&quot;</key>
	<string>—Clinton, April 2016</string>
	<key>&quot;Estimates of the size of our &apos;infrastructure gap&apos; register in the trillions of dollars. Workers can&apos;t get to work, congestion keeps parents stuck in traffic and floods threaten our cities.&quot;</key>
	<string>—Clinton, Nov. 2015</string>
	<key>&quot;I’ve been coloring my hair for years.&quot;</key>
	<string>—Clinton, May 2015</string>
	<key>&quot;We are going to take things away from you on behalf of the common good.&quot;</key>
	<string>—Clinton, June 2004</string>
	<key>&quot;Who is going to find out? These women are trash. Nobody’s going to believe them.&quot;</key>
	<string>—Clinton, 1999</string>
	<key>&quot;We have a lot of kids who don&apos;t know what &apos;work&apos; means. They think &apos;work&apos; is a four-letter word.&quot;</key>
	<string>—Clinton, May 2006</string>
	<key>&quot;The American people are tired of liars and people who pretend to be something they&apos;re not.&quot;</key>
	<string>—Clinton, Jan. 1992</string>
	<key>&quot;I have to confess that it&apos;s crossed my mind that you could not be a Republican and a Christian.&quot;</key>
	<string>—Clinton, Feb. 1997</string>
	<key>&quot;He ran a gas station down in St. Louis. ... No, Mahatma Gandhi was a great leader of the 20th century.&quot;</key>
	<string>—Clinton, Jan. 2004</string>
	<key>“Don’t let anybody tell you that it’s corporations and businesses that create jobs.”</key>
	<string>—Clinton, Oct. 2014</string>
	<key>&quot;We just can&apos;t trust the American people to make those types of choices. ... Government has to make those choices for people.&quot;</key>
	<string>—Clinton, June 1993</string>
	<key>“The fact is we had four dead Americans. Was it because of a protest or because guys out for a walk one night decided to go kill some Americans? What difference, at this point, does it make?”</key>
	<string>—Clinton, Jan. 2013</string>
	<key>“The last time I actually drove a car myself was 1996.”</key>
	<string>—Clinton, Jan. 2014</string>
	<key>“You know what else I prepared for? I prepared to be president. And I think that&apos;s a good thing.”</key>
	<string>—Clinton, Sept. 2016</string>
	<key>&quot;I had a feeling by the end of this evening that I&apos;d be blamed for everything.&quot;</key>
	<string>—Clinton, Sept. 2016</string>
	<key>“There’s no doubt now that Russia has used cyber attacks against all kinds of organizations in our country.”</key>
	<string>—Clinton, Sept. 2016</string>
	<key>“I know you live in your own reality, but those are not the facts.”</key>
	<string>—Clinton, Sept. 2016</string>
	<key>“We have to build an economy that works for everyone, not just those at the top. That means we need new jobs, good jobs, with rising incomes.”</key>
	<string>—Clinton, Sept. 2016</string>
	<key>“I have a much broader base to build a winning coalition on. Whites in both states who had not completed college were supporting me.”</key>
	<string>—Clinton, May 2008</string>
	<key>“Dr. King’s dream began to be realized when President Johnson passed the Civil Rights Act. The power of that dream became real in people’s lives because we had a president capable of action. It took a president to get it done.”</key>
	<string>—Clinton, Jan. 2008</string>
	<key>“I often feel like there&apos;s the Hillary standard, and then there&apos;s the standard for everybody else.”</key>
	<string>—Clinton, July 2016</string>
	<key>“I think that, like most people that I know, I have a range of views, but they are rooted in my values and my experience.”</key>
	<string>—Clinton, Oct. 2015</string>
	<key>“I want to make sure every single person in this country has the same opportunities I have had, to make the most of their God-given potential.”</key>
	<string>—Clinton, Oct. 2015</string>
	<key>“I went to Wall Street in December of 2007 — before the big crash that we had — and I basically said, ‘Cut it out!&apos;”</key>
	<string>—Clinton, Oct. 2015</string>
	<key>“I know we can afford it, because we’re going to make the wealthy pay for it.”</key>
	<string>—Clinton, Oct. 2015</string>
	<key>“You may have seen I recently launched a Snapchat account. I love it. Those messages disappear all by themselves.”</key>
	<string>—Clinton, Aug. 2015</string>
	<key>“They are often the kinds of kids that are called superpredators — no conscience, no empathy. We can talk about why they ended up that way, but first, we have to bring them to heel.&quot;</key>
	<string>—Clinton, Jan. 1996</string>
	<key>&quot;I remember landing under sniper fire. There was supposed to be some kind of a greeting ceremony at the airport, but instead we just ran with our heads down to get into the vehicles to get to our base.&quot;</key>
	<string>—Clinton, March 2008</string>
	<key>&quot;They&apos;re racist, sexist, homophobic, xenophobic, Islamophobic, you name it.&quot;</key>
	<string>—Clinton, Sept. 2016</string>
</dict>
</plist>
